<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Board</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Job Board</h1>
    <ul>
        {% for job in jobs %}
        <li>
            <h2>{{ job.title }}</h2>
            <p>{{ job.description }}</p>
            <p><strong>Company:</strong> {{ job.company }}</p>
            <p><strong>Location:</strong> {{ job.location }}</p>
        </li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('post_job') }}">Post a Job</a>
</body>
</html>
