<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post a Job</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Post a Job</h1>
    <form action="{{ url_for('post_job') }}" method="post">
        <label for="title">Title:</label><br>
        <input type="text" id="title" name="title"><br>
        <label for="description">Description:</label><br>
        <textarea id="description" name="description"></textarea><br>
        <label for="company">Company:</label><br>
        <input type="text" id="company" name="company"><br>
        <label for="location">Location:</label><br>
        <input type="text" id="location" name="location"><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
